* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #7687ad;
}

body {
    background-color: #070720;
    min-height: 100vh;;
}

button {
    background-color: #c2b465; 
    font-weight: bold;
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px;
    color: black;
}

nav img {
    width: 50px;
    height: 56px;
}

nav {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    background-color: #191937;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    list-style-type: none;
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.login-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin: 5px;
}

.nav-container a {
    padding: 5px;
  
}

.login-container a {
    padding: 5px;
}

.logo-container span {
    margin-left: 10px;
}

/* --------------------------*/

.home-container {
    display: flex;
    margin: 0 300px;
    justify-content: center;
    flex-direction: column;
}

.home-banner {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.banner-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    align-items: center;
    Background-color: #191937;
}

.home-banner img {
    width: 100%;
    border-radius: 10px;
}

.home-summary {
    display: flex;
    margin: 40px 0px;
    justify-content: space-evenly;
    gap: 10px;
}

.home-summary-card {
    display: flex;
    background: #191937;
    flex-direction: column;
    flex: 1;
    border-radius: 15px;
    align-items: center;
    padding: 20px;
}

.home-summary-card img {
    height: 120px;
    width: 120px;
    margin: 20px 0;
}

.home-summary-card h1, p {
    text-align: center;
    color: #7687ad;
}

.home-summary-card h1 {
    margin: 20px 0px;
    font-size:large;
}